<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Sales\Ui\Component\Listing\Column\ViewAction">
		<plugin name="HS_LoginAsCustomer::Magento\Sales\Ui\Component\Listing\Column\ViewAction" sortOrder="10" type="HS\LoginAsCustomer\Plugin\Backend\Magento\Sales\Ui\Component\Listing\Column\ViewAction"/>
	</type>
    <type name="Magento\Customer\Ui\Component\Listing\Column\Actions">
		<plugin name="HS_LoginAsCustomer::Magento\Customer\Ui\Component\Listing\Column\Actions" sortOrder="10" type="HS\LoginAsCustomer\Plugin\Backend\Magento\Customer\Ui\Component\Listing\Column\Actions"/>
	</type>
</config>
