<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hs_login_as_customer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Login as Customer</label>
            <tab>hungersoft</tab>
            <resource>HS_LoginAsCustomer::config_hs_login_as_customer</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="enabled" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_page_cache_for_admin" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Disable page cache for admin</label>
                    <comment>When admin logs in as customer, page cache is disabled</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!-- <field id="disable_merge_guest_cart_for_admin_login" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Disable merge guest cart for admin login</label>
                    <comment>Disable merging the items added to cart as guest, when logging in as customer by the admin.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
                <!-- <field id="enable_manual_storeview_selection" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable manual storeview selection for admin login</label>
                    <comment>When disabled storeview will be detected automatically. Helpful for multi-website installations</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
            </group>
        </section>
    </system>
</config>
